{% extends "main/base.html" %}
{% block content %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Abonent System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">Об этом приложении</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/service">Сервис</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Контакты</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Справочники
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="/street">Улицы</a>
                        <a class="dropdown-item" href="/fitter">Слесари</a>
                        <a class="dropdown-item" href="/amenities">Услуги</a>
                        <a class="dropdown-item" href="/errors">Неисправности</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Коллекции
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                         <a class="dropdown-item" href="/DIREPAIR">DIREPAIR</a>
                        <a class="dropdown-item" href="/CTREET">STREET</a>
                        <a class="dropdown-item" href="/SERVICE1">SERVICES</a>
                        <a class="dropdown-item" href="/abonent">ABONENT</a>
                        <a class="dropdown-item" href="/executor">EXECUTOR</a>
                        <a class="dropdown-item" href="/nachislsumma">NACHISLSUMMA</a>
                        <a class="dropdown-item" href="/paysumma">PAYSUMMA</a>
                        <a class="dropdown-item" href="/request">REQUEST</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Отчеты
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                       <a class="dropdown-item" href="/full-width">Абоненты</a>
                        <a class="dropdown-item" href="/sidebar">Журнал начислений</a>
                        <a class="dropdown-item" href="/faq">Журнал оплат</a>
                        <a class="dropdown-item" href="/404">Ремонтные заявки</a>
                        <a class="dropdown-item" href="/price">ОСВ</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">


    <h1 class="mt-4 mb-3">ABONENT
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Главная</a>
        </li>
    </ol>
</div>

</div>

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white"> Abonent System &copy; WebApp 2020 </p>
    </div>

</footer>

{% endblock %}
